header{
   height: fit-content;
   padding-top: 2rem;
   overflow: hidden;
   /* border: 1px solid red; */
}

.header_container {
 
   text-align: center;
   height: 100%;
   position:relative;
   border: 1px solid transparent;
   display: flex;
   flex-wrap: wrap;
}
.w-2{
   width: 50%;
   padding-bottom: 50px;
   /* border: 1px solid lightyellow; */
}

@media(max-width:991px){
   .w-2{
      width: 100%;
   }
}

/* .text-light{
   margin-bottom: 100vh;
} */


/* ==================EMOJI================== */

.emoji{
   font-size: 50px;
   animation: waving-hand 2.5s infinite;
   transform-origin: 70% 70%;
   display: inline-block;
}
@keyframes waving-hand {
   0%{
      transform: rotate(0deg);
   }
   10%{
      transform: rotate(14deg);
   }
   20%{
      transform: rotate(-8deg);
   }
   30%{
      transform: rotate(14deg);
   }
   40%{
      transform: rotate(-4.0deg);
   }
   50%{
      transform: rotate(10deg);
   }
   60%{
      transform: rotate(0deg);
   }
   100%{
      transform: rotate(0deg);
   }
}


/* =============== CTA ===================*/

.cta {
   margin-top: 1.5rem;
display: flex;
gap:1.2rem;
justify-content: center;
/* border: 1px solid red; */
}

/* ========= HEADER SOCIALS ==========*/

.header_socials {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.8rem;
   position: fixed;
   left: 2rem;
   bottom: 50%;
   /* border: 1px solid red; */
}

.header_socials::after {
   /* content: ""; */
   width:1px;
   height: 2rem;
   background: var(--color-primary);
}

.header_socials a{
   padding: 5px 10px;
  border-radius: 1vh;
   background-color: var(--color-bg-variant);
   border: 1px solid var(--color-light);
   aspect-ratio: 1/1;
}
.header_socials a:hover{
   background-color: transparent;
   border: 1px solid var(--color-primary);
}

/*================= ME =================*/
.me {
 
   background: linear-gradient(var
   (--color-primary), transparent);
   overflow: hidden;
   /* padding: 5rem 1.5rem 1.5rem 1.5rem;  */
   /* border: 1px solid red; */

   display: flex;
   justify-content: center;
   align-items: center;

}

.me img{
   /* border-radius: 11rem 11rem 2rem 2rem; */
   border-radius: 50%;
   aspect-ratio: 1/1;
   max-width: 22rem;
   max-height: 22rem;
  

}



/*================= SCROLL DOWN =================*/

.scroll_down{
   position: absolute;
   right: 0;
   bottom: 5rem;
   transform: rotate(90deg);
   font-weight: 300;
   font-size: 0.9rem;
   /* border: 1px solid red; */
}

/* ================ MEDIA QUEERIES (MEDIUM DEVISES) ==============*/
@media screen and (max-width:1024px) {
 
}

/* ================ MEDIA QUEERIES (SMALL DEVISES) ==============*/
@media screen and (max-width:600px) {

   
   .header_socials{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
      position: fixed;
      bottom: 50%;
      left: 0rem;
      backdrop-filter: blur(20px);
      z-index:1000;
      
   }
   .header_socials a{
      background-color: transparent;
   }
   .scroll_down{
      position: absolute;
      right: -5%;
      
   }

  
 
   
}